<!doctype html>
{% set navigation_bar = [
    ('home', 'ti-home', 'Home'),
    ('settings', 'ti-tool', 'Settings')
] %}

{% set active_page = active_page|default('home') %}

<html>
<head>

    <title>Redcap Google Sheets</title>

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <meta name="msapplication-TileColor" content="#206bc4"/>
    <meta name="theme-color" content="#206bc4"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="robots" content="noindex,nofollow,noarchive"/>
    
    <!-- Load the Google API Loader script. -->
    <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=loadPicker"></script>
    <script src="{{ url_for('static', filename='js/picker.js') }}" type="text/javascript"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- redcap scripts -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/signin.js') }}"></script>

    <!-- Tabler CDN -->
    <script src="https://unpkg.com/@tabler/core@1.0.0-beta/dist/js/tabler.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@tabler/icons@latest/iconfont/tabler-icons.min.css">

    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta/dist/css/tabler-flags.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta/dist/css/tabler-payments.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta/dist/css/tabler-vendors.min.css">

    <style>
        body {
            display: none;
        }
    </style>

</head>
<body onload="pageLoad()" class="antialiased">
    <!-- Top horizontal bar -->
    <nav class="navbar navbar-light navbar-secondary navbar-expand" id="navbar-secondary">
        <div class="container">
            <a href="#" class="navbar-brand navbar-brand-autodark d-none-navbar-vertical">
                <h2 class="navbar-brand-logo navbar-brand-logo-large" id="secondary-logo">Redcap Google Sheets</h2>
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-2">
                    <a href="#" class="nav-link px-0" data-toggle="modal" data-target="#modal-customize">
                        <i class="ti ti-settings"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <button id="googleBtn" type="button" class="btn btn-google" style="display:none;" onclick="signInGoogle()">
                        <i class="ti ti-brand-google"></i>
                        Sign in with Google
                    </button>
                </li>
                <li id="userInfo" class="nav-item dropdown pl-3">
                    <a href="#" class="nav-link d-flex lh-1 text-reset p-0 text-left" style="display:none;" data-toggle="dropdown">
                        <span id="avatar" class="avatar" style="display:none;"></span>
                        <div class="p-2 pt-0 pb-0 pr-0">
                            <div id="userName"></div>
                            <!-- <div class="mt-1 small text-muted">Group</div> -->
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" onclick="signOutGoogle()">
                            <i class="ti ti-logout"></i>
                            Logout...
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Navigation menu -->
    <div class="page">
        <nav class="navbar navbar-expand-lg navbar-light navbar-primary" id="navbar-primary">
            <div class="container">
                <div class="navbar-collapse">
                    <a href="#" class="navbar-brand navbar-brand-autodark d-none-navbar-vertical" id="primary-logo">
                        <h2 class="navbar-brand-logo navbar-brand-logo-large">Redcap Google Sheets</h2>
                    </a>
                    <h4 class="navbar-heading" id="navbar-heading">Navigation</h4>
                    <!-- Navigation items -->
                    <ul class="navbar-nav">
                        {% for nav_item, icon, name in navigation_bar %}
                        <li class="nav-item {% if nav_item == active_page %} active {% endif %}">
                            <a class="nav-link" href="{{ url_for(nav_item) }}" >
                                <span class="nav-link-icon">
                                    <i class="ti {{icon}}"></i>
                                </span>
                                <span class="nav-link-title">{{name}}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div id="alert" class="alert alert-{{category}}" role="alert">
                        <h4 class="alert-title">{{message}}</h4>
                    </div>
                    {% endfor %}
                    <script>
                        if(localStorage.getItem('tabler-theme') == 'dark') {
                            document.getElementById('alert').classList.add('theme-dark');
                        }
                        else {
                            document.getElementById('alert').classList.add('theme-light');
                        }
                    </script>
                    {% endif %}
                {% endwith %}

                {% block content %}
                {% endblock content %}
            </div>
        </div>

        <!-- dashboard customization card -->
        <div class="modal modal-blur fade" id="modal-customize" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Customize</h5>
                        <button type="button" class="btn btn-secondary btn-icon" data-dismiss="modal" aria-label="Close">
                            <i class="ti ti-letter-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Color scheme</label>
                            <div class="form-hint">Light or dark presentation.</div>
                            <div class="btn-group w-100">
                                <button class="btn btn-secondary" data-theme-toggle="theme:light">
                                    Light
                                </button>
                                <button class="btn btn-secondary" data-theme-toggle="theme:dark">
                                    Dark
                                </button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Navigation position</label>
                            <div class="form-hint">Choose where the main navigation in your project should be located.</div>
                            <div class="btn-group w-100">
                                <button class="btn btn-secondary" data-theme-toggle="navbar-position:horizontal">Top navigation</button>
                                <!-- <button class="btn btn-secondary" data-theme-toggle="navbar-position:vertical">Sidenav</button> -->
                                <button class="btn btn-secondary" data-theme-toggle="navbar-position:both">Side navigation</button>
                            </div>
                        </div>
                        <div class="mb-3" id="sidebarPositionOptions">
                            <label class="form-label">Sidebar position</label>
                            <div class="form-hint">Choose whether the sidebar should appear on the left or on the right.</div>
                            <div class="btn-group w-100">
                                <button class="btn btn-secondary" data-theme-toggle="navbar-side:left">Left</button>
                                <button class="btn btn-secondary" data-theme-toggle="navbar-side:right">Right</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabler and jquery CDNs -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- theme script for toggling naviation / theme -->
        <script>
            (function() {
                var navbarPrimary = document.getElementById('navbar-primary'),
                navbarSecondary = document.getElementById('navbar-secondary');
                var defaults = {
                    theme: 'light',
                    'navbar-position': 'horizontal',
                    'navbar-side': 'left',
                };
                var eventsClean = {
                    'theme': function () {
                        document.body.classList.remove('theme-dark');
                    },
                    'navbar-position': function () {
                        navbarPrimary.classList.remove('navbar-vertical');
                        navbarSecondary.classList.remove('d-none');
                    },
                    'navbar-side': function () {
                        navbarPrimary.classList.remove('navbar-right');
                    },
                };
                var events = {
                    'theme:light': function () {
                    },
                    'theme:dark': function () {
                        document.body.classList.add('theme-dark');
                    },
                    'navbar-position:horizontal': function () {
                        document.getElementById('secondary-logo').style.display = "block";
                        document.getElementById('primary-logo').style.display = "none";
                        document.getElementById('navbar-heading').style.display = "none";
                        document.getElementById("sidebarPositionOptions").style.display = "none";
                    },
                    'navbar-position:both': function () {
                        navbarPrimary.classList.add('navbar-vertical');
                        document.getElementById('navbar-heading').style.display = "block";
                        document.getElementById('primary-logo').style.display = "block";
                        document.getElementById('secondary-logo').style.display = "none";
                        document.getElementById("sidebarPositionOptions").style.display = "block";
                    },
                    'navbar-side:left': function () {
                    },
                    'navbar-side:right': function () {
                        navbarPrimary.classList.add('navbar-right');
                    },
                };
                var updateThemeConfig = function (name) {
                    var key, value;
                    if (name) {
                        [key, value] = name.split(':');
                        setConfig(key, value);
                    }
                    applyConfig();
                };
                var disableTransitions = function () {
                    document.body.classList.add('no-transitions');
                    setTimeout(function () {
                        document.body.classList.remove('no-transitions');
                    }, 300);
                };
                var getConfig = function () {
                    var config = {};
                    for (var key in defaults) {
                        config[key] = localStorage.getItem('tabler-' + key) || defaults[key];
                    }
                    return config;
                };
                var setConfig = function (key, value) {
                    localStorage.setItem('tabler-' + key, value);
                };
                var applyConfig = function () {
                    disableTransitions();
                    var config = getConfig();
                    for (var key in config) {
                        var value = config[key];
                        eventsClean[key] && eventsClean[key].call();
                        events[key + ':' + value] && events[key + ':' + value].call();
                        ([].slice.call(document.querySelectorAll('[data-theme-toggle^="' + key + '"]'))).map(function (activeTrigger) {
                            activeTrigger.classList.remove('active')
                        });
                        document.querySelector('[data-theme-toggle="' + key + ':' + value + '"]').classList.add('active');
                    }
                };
                applyConfig();
                for (var name in events) {
                    var event = events[name];
                    (function (event, name) {
                        document.querySelector('[data-theme-toggle="' + name + '"]').addEventListener("click", function (e) {
                            updateThemeConfig(name);
                            event.call();
                            e.preventDefault();
                            return false;
                        });
                    })(event, name);
                }
            })();
        </script>
        <script>
            document.body.style.display = "block"
        </script>

    </body>
    </html>
