{% extends 'base.html' %}
{% set active_page = "settings" %}
{% block content %}
<div class="card">
    <div class="card-body">
        {% if proj_data %}
        <h2>{{ proj_data['project_title'] }}</h2>
        {% endif %}
        <form method=post>
            <label class="form-label mb-2">{{ form.redcap_api_key.label }}</label>
            {% if form.redcap_api_key.errors %}
                {{ form.redcap_api_key(class="form-control is-invalid mb-2") }}
                <div class="invalid-feedback mb-2">
                    {% for error in form.redcap_api_key.errors %}
                        {{error}}
                    {% endfor %}
                </div>
            {% else %}
            {{ form.redcap_api_key(class="form-control mb-2") }}
            {% endif %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% if hasKey %}
        <br>
          <button class="btn btn-primary" type="button" onclick="getRedCapAPIKey()">Show API Key</button>

          <p id="key" style="visibility: hidden;"><br>
            Your current REDcap API key is:
            {{ key}}
          </p>
        {% endif %}
    </div>
</div>
{% endblock content %}
