{% extends 'base.html' %}
{% set active_page = "settings" %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Settings</h2>
        <form method=post>
            <label class="form-label mb-2">{{ form.redcap_api_key.label }}</label>
            {% if form.redcap_api_key.errors %}
                {{ form.redcap_api_key(class="form-control is-invalid mb-2") }}
                <div class="invalid-feedback mb-2">
                    {% for error in form.redcap_api_key.errors %}
                        {{error}}
                    {% endfor %}
                </div>
            {% else %}
            {{ form.redcap_api_key(class="form-control mb-2") }}
            {% endif %}
                <button type="submit" class="btn btn-primary mr-none">Submit</button>
                <button class="btn btn-primary" type="button" onclick="getRedCapAPIKey()" id="show">Show API Key</button>
        </form>
        {% if proj_data %}
        <h2 class="mt-4">Project Info</h2>
        <h4><b>Project Name:</b> {{ proj_data['project_title'] }}</h4>
        <h4><b>Created On:</b> {{ proj_data['creation_time'] }}</h4>
        {% endif %}
        {% if hasKey %}
          <script>
              var x = document.getElementById("key_field");
              x.value = '{{key}}';
          </script>
        {% endif %}
    </div>
</div>
{% endblock content %}
